apiVersion: batch/v1
kind: CronJob
metadata:
  name: failed-chute-cleanup
spec:
  schedule: "*/15 * * * *"
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      activeDeadlineSeconds: 300
      backoffLimit: 5
      template:
        metadata:
          labels:
            db-access: "true"
            redis-access: "true"
        spec:
          {{- with .Values.failedChuteCleanup.nodeSelector }}
          nodeSelector:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          containers:
          - name: cleanup
            image: {{ .Values.failedChuteCleanup.image }}
            imagePullPolicy: Always
            command: ["poetry", "run", "python", "failed_chute_cleanup.py"]
            env:
              {{- include "chutes.sensitiveEnv" . | nindent 14 }}
              {{- include "chutes.commonEnv" . | nindent 14 }}
          restartPolicy: OnFailure
